.navbar-container{
  width: 100vw;
  height: 70px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
}
.category{
  padding-left: 50px;
  font-size: var(--font-size-h5);
  font-weight: bold;
}
.left-corner{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo{
  width: 80px;
  height: 80px;
}
.right-corner{
  padding-right: 20px;
  display: flex;
  position: relative;
  align-items: center;
  gap: 17px;
}
.toggle-button{
  align-items: center;
  justify-content: center;
}
.profile-icon{
  margin-left: 50px;
}

.search-box {
  display: flex;
  position: absolute;
  width: 0;
  height: 45px;
  background-color: var(--background-color);
  border-radius: 160px;
  border: transparent;
  right: 287px;
  align-items: center;
  padding: 5px;
  animation-direction:inherit;
  transition: width 0.4s ease, opacity 0.35s ease ;
  overflow: hidden; /* Prevents content from overflowing during the transition */
  opacity: 0; /* Start with 0 opacity */
}

.search-box.visible {
  width: 400px;
  opacity: 1; /* Fade in when visible */
}
.search-input {
  width: 100%;
  padding-left: 10px;
  background-color: var(--background-color);
  border: none;
  outline: none;
  border-radius: 160px;
  margin-right: 25px;
  color: var(--text-color);

}
.search-input:focus{
  border: none;
  outline: none;
}

.search-icon{
  display: flex;

}

